<div class="container">
	<div class="unilevel">
        <ng-container *ngIf="share.user">
            <div class="title-lg"><b>Addictive Unilevel</b></div>
            <div class="available_products">
                <span class="col-md-2 title-md"><b>Search: </b></span>
                <ng-container>
                  <input type="text" name="id_seller" class="col-8" (keyup)="applyFilter($event)" placeholder="Search Date here(yyyy-mm-dd)..." />
                </ng-container>
            </div>
            <div class="row section-1">

                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="unilevel-span">
                        <span class="title-md"><b>Unilevel Current Balance: </b></span>
                        <span class="title-md"><b>{{unilevel_current}}</b></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="unilevel-span">
                        <span class="title-md"><b>Total Unilevel: </b></span>
                        <span class="title-md"><b>{{total_unilevel}}</b></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="unilevel-span">
                        <span class="title-md"><b>PHP To LC Value: </b></span>
                        <span class="title-md"><b>{{unilevel_current/(currencyValue| number:'0.4-4' )}}</b></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="unilevel-span">
                        <span class="title-md"><b>Search Result: </b></span>
                        <span class="title-md"><b>{{search_result}}</b></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="img-wrap-xs">
                        <img src="../../../assets/image/genealogy/lc_balance.png">
                    </div>
                    <div class="unilevel-item">
                        <div>
                        <span class="title-md"><b>LC Balance: </b></span>
                        <span class="title-md">{{total_lc_balance}}</span>
                        </div>
                        <div>
                        <span class="title-md"><b>LC To PHP Value:</b></span>
                        <span class="title-md">{{total_lc_balance/(socket.btc_usd * socket.lc_btc *currencyValue| number:'0.4-4' )}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list"></div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="title-md" style="padding-left: 80px">
                        <span><b>Amount: <span *ngIf="unilevel_current > 5000">5,000.00 PHP</span></b></span><br>
                        <span style="color:#3333"><b>Receivable LC Value: <span *ngIf="unilevel_current > 5000" class="title-md">{{5000/(socket.btc_usd * socket.lc_btc *currencyValue| number:'0.4-4' )}}LC</span></b></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 unilevel-list"></div>
                <div class="col-md-6 col-sm-12 unilevel-list">
                    <div class="title-md" style="padding-left: 80px">
                        <button 
                            mat-raised-button 
                            (click)="submitBtn()"
                            [style.background-color]="unilevel_current < 5000 ? '' : 'black'" 
                            [style.color]="unilevel_current < 5000 ? '' : 'white'" 
                            [disabled]="unilevel_current < 5000 ? 'true' : 'false'" >
                            Submit Withdrawal
                        </button>
                    </div>
                </div>
            </div><hr>
            <div class="mat-elevation-z8" style="overflow: auto; background-color: white;">
                <!-- <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                </mat-form-field> -->
                <table mat-table [dataSource]="dataSource">
                
                    <!-- Position Column -->
                    <!-- <ng-container matColumnDef="position" sticky>
                    <th mat-header-cell *matHeaderCellDef> Sequence# </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container> -->
                
                    <ng-container matColumnDef="level">
                        <th mat-header-cell *matHeaderCellDef> Level </th>
                        <td mat-cell *matCellDef="let element"> {{element.level}} 
                            <sup *ngIf="element.level == 1">st</sup> 
                            <sup *ngIf="element.level == 2">nd</sup> 
                            <sup *ngIf="element.level > 2">th</sup> 
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Purchased Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="ita">
                    <th mat-header-cell *matHeaderCellDef> ITA </th>
                    <td mat-cell *matCellDef="let element"> {{element.ita}} </td>
                    </ng-container>

                    <ng-container matColumnDef="profit">
                    <th mat-header-cell *matHeaderCellDef> Profit </th>
                    <td mat-cell *matCellDef="let element"> {{element.profit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                
                <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="col-md-6 col-sm-12 unilevel-list" style="margin-left: auto;">
                <div class="unilevel-span">
                    <span class="title-md"><b>Today Unilevel Profit: </b></span>
                    <span class="title-md"><b>{{today_profit}}</b></span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!share.user">
            <div class="title-lg">
              You are not allowed to access to this page.
            </div>
          </ng-container>
    </div>
</div>