<div class="animated fadeIn">
  <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="card">
              <div class="card-header">
                  <a [routerLink]="['/cryptobazaar']" style="cursor: pointer;">
                      <strong>Bazaar / </strong>
                  </a>
                  <a class="active text-primary">
                      <strong>Crypto Cheque Barrower</strong>
                  </a>
              </div>
              <div class="card-body">
                  <!-- <div class="row" id="search">
                      <div class="search-hero col-md-12 col-sm-12">
                          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search product name, bazaar name...">
                      </div>
                  </div> -->
<div class="row mb-10" style="margin: auto;"></div>
                  <div class="row  mb-10" >
                      <div offset="md-3" class="col-sm-6 col-md-6">
                          <h4> Borrowers View </h4>
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <!-- <h4> Barrower View </h4> -->
                    </div>

                        <!-- Barrower View -->
                      <div class="col-sm-6 col-md-6">
                          <div class="card text-white bg-success text-center">
                              <div style="padding:0.75rem" class="card-body">
                                  <strong>BTC Balance: {{ btc_balance | number:'0.8-8' }} BTC</strong>
                              </div>
                          </div>
                      </div>

                <!-- Lenders View -->
                      <div class="col-sm-6 col-md-6">
                        <div class="card text-white bg-success text-center">
                            <div style="padding:0.75rem" class="card-body">
                              <strong>LC Balance: {{ lc_balance | number:'0.2-2' }} LC</strong>
                            </div>
                        </div>
                    </div>

                      <!-- Barrower View -->
                      <div class="col-sm-6 col-md-6">
                          <div class="card text-white bg-danger text-center">
                              <div style="padding:0.75rem" class="card-body">
                                  <strong>Total Cheque Amount:{{chequesum}}</strong>
                              </div>
                          </div>
                      </div>

                <!-- Lenders View -->
                      <div class="col-sm-6 col-md-6">
                        <div class="card text-white bg-danger text-center">
                            <div style="padding:0.75rem" class="card-body">
                              <strong>Undue Cheque Amount:{{undueAmount}}</strong>
                            </div>
                        </div>
                    </div>
                  </div>

                    <!-- Barrower View -->
                  <div class="row  mb-10">
                    <div class="col-sm-6 col-md-6">
                        <div class="card text-white bg-dark text-center">
                            <div style="padding:0.75rem" class="card-body">
                                <strong>Number Of Undue Cheque: {{undueCheque}} Cheque</strong>
                            </div>
                        </div>
                    </div>

                <!-- Lenders View -->
                    <div class="col-sm-6 col-md-6">
                      <div class="card text-white bg-dark text-center">
                          <div style="padding:0.75rem" class="card-body">
                              <strong>Number Of Cheque: {{totalCheque}} Cheque</strong>
                          </div>
                      </div>
                  </div>

                    <!-- Barrower View -->
                    <div class="col-sm-6 col-md-6">
                        <div class="card text-white bg-info text-center">
                            <div style="padding:0.75rem" class="card-body">
                                <strong>Number Of Due Cheque: {{dueCheque}} Cheque</strong>
                            </div>
                        </div>
                    </div>
                <!-- Lenders View -->

                    <div class="col-sm-6 col-md-6">
                      <div class="card text-white bg-info text-center">
                          <div style="padding:0.75rem" class="card-body">
                              <strong>Cheque Amount Due: {{dueAmount}} Cheque</strong>
                          </div>
                      </div>
                  </div>
                </div>




                <form class="form-horizontal" [formGroup]="form" (submit)="submit()">
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="bp_name">Pay To</label>
                      <div class="col-md-9">
                          <input class="form-control" type="number" formControlName="payto"  placeholder="Enter ID Number here..">
                          <p *ngIf="submited && form.get('payto').invalid" style="color: red;">Please Enter the UserId of the Receiver </p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="availability">BTC Amount</label>
                      <div class="col-md-9">
                          <input class="form-control" type="number" formControlName="btc_amount"  placeholder="Enter BTC Amount here..">
                          <p *ngIf=" submited && form.get('btc_amount').invalid" style="color: red;">Please Enter the BTC Amount </p>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="availability">Releasing Date & Time</label>
                    <div class="col-md-9">
                        <input class="form-control" type="datetime-local" formControlName="releasing_date"  placeholder="MM/DD/YYYY">
                        <p *ngIf="submited && form.get('releasing_date').invalid" style="color: red;">Please Enter the Releasing Date and Time </p>
                    </div>
                </div>
                <div class="form-group row">
                <button style="margin: 0px auto;" type="submit" class="btn btn-dark">Create Cheque</button>
              </div>
              </form>

              <table *ngIf="!isLoading">
                <tr>
                  <th>Cheque Code</th>
                  <th>Amount</th>
                  <th>Agent Profit</th>
                  <th>From</th>
                  <th>Created Date</th>
                  <th>Releasing Date</th>
                  <th>SPTW</th>
                  <th>APTW</th>
                  <th>T-BTC-TW</th>
                  <th>T-LC-TW</th>
                  <th>BTC Balance</th>
                  <th>LC Balance</th>
                  <th>Undue Cheque</th>
                  <th>Purpose</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let data of tabledata;">
                  <td>{{data.cheque_code| slice:0:6}}</td>
                  <td>{{data.amount}}</td>
                  <td>{{data.agent_profit}}</td>
                  <td>{{data.from}}</td>
                  <td>{{data.create_time | date:'yyyy/MM/dd hh:mm:ss'}}</td>
                  <td> {{data.releasing_time | date:'yyyy/MM/dd hh:mm:ss'}} </td>
                  <td>--</td>
                  <td>--</td>
                  <td>{{data.T_BTC_TW ? data.T_BTC_TW : '--'}}</td>
                  <td>{{data.T_LC_TW ? data.T-LC-TW : '--'}}</td>
                  <td>{{data.btc_balance}}</td>
                  <td>{{data.lc_balance}}</td>
                  <td>--</td>
                  <td>{{data.type == 'B' ? 'Brokerage' : 'Other Purpose'}}</td>
                  <td>
                    <button style="margin: 15px 0px;" class="btn btn-danger" type="button" (click)="delete(data._id)">Delete</button>
                    <p style="color: red;" *ngIf="data.declined">Declined</p>
                  </td>
                </tr>
              </table>
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="isLoading" class='loading'>
  <img class='img-fluid' src='assets/loading.gif' alt="" />
</div>
